{
  "plugins": [
    [
      "@babel/plugin-transform-react-jsx", {
        "runtime": "automatic"
      }
    ],
    [ "@babel/plugin-transform-modules-commonjs" ],
    [
      "formatjs",
      {
        "idInterpolationPattern": "[sha512:contenthash:base64:6]",
        "ast": true
      }
    ]
  ]
}
